.meal-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.meal-container .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal-container .image-container img {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 30px;
}

.meal-container .name-container {
  display: flex;
  justify-content: flex-start;
}

.meal-container .name-container span {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.meal-container .price-and-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal-container .price-and-order-container .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.meal-container .price-and-order-container .counter span {
  font-size: 24px;
  font-weight: 500;
  color: #f7906c;
  width: 1rem;
  text-align: center;
}

.meal-container .price-and-order-container .counter .plus2 {
  background-color: white;
}

.meal-container .price-and-order-container .counter .minus {
  background-color: white;
}

.meal-container .price-and-order-container .span1 {
  font-size: 24px;
  font-weight: 500;
  color: #f7906c;
}

.meal-container .price-and-order-container .span1::after {
  content: "$";
}

.meal-container .price-and-order-container img {
  width: 40px;
  background-color: #f7906c;
  border-radius: 20px;
}

.hide {
  display: none;
}
