.meals-container {
     padding: 1rem;
    .empty-order{
        display: flex;
        flex-direction: column;
        min-height: 80vh;
    h2{
       font-size: 20px;
       font-weight: 400;
       text-align: left;
    }
    div {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
           font-size: 18px;
           font-weight: 700;
           background-color: rgb(247,144,108);
           color: white;
           border: 0px solid black;
           padding: 10px 26px;
           border-radius: 32px;
    
        }
    }
    
}
}